div#preview{
    padding:16px 0;
}

div#loading{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 80%;
    z-index: 1000;
    display: none;
}

div#loading div{
    position: absolute;
    top:40%;
    left:40%;
    -ms-transform: translate(-40%, -40%);
    transform: translate(-40%, -40%);
    /*border: 1px solid #000;*/
}

div#loading div img{
    /*width: 60%;*/
}

div#uploadedImageContainer{
    padding: 4px;
    /*border: 2px solid #000;*/
}

.displayNone{
    display: none;
}



#loading_image_gif{
    width: 100%;
    padding: 0 20%;
    /*border:1px solid #000;*/
}

#percent{
    font-weight: bolder;
    z-index: 1000;
}